@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600,700,800,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Nunito Sans", sans-serif;
  --primary-color: #00a699;
  --black: #000;
  --text-color: #333;

  --default-layout-header-height: 80px;
  --default-layout-footer-height: 50px;
  --default-horizontal-spacer: 30px;

  --button-border-radius: 20px;
  --default-layout-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  :root {
    --default-layout-width: 1100px;
  }
}

@media screen and (min-width: 1700px) {
  :root {
    --default-layout-width: 1360px;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --default-layout-width: 1400px;
  }
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay !important;
  padding-right: 0 !important;
}

span,
p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  line-height: 1.4rem;
}

p {
  margin-bottom: 5px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

select {
  font-size: 16px !important;
  height: 40px;
  border: 1px solid #ccc !important;
  border-radius: 6px;
  padding: 0 5px;
  color: #555;
}

input {
  height: 40px;
  font-size: 16px;
  background-color: transparent;
  padding: 0 8px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
input:focus-visible ~ span {
  color: var(--primary-color);
}

.title-step.active::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 200px;
  position: absolute;
  border-bottom: 2px solid var(--primary-color);
  animation: animationCircle 1s linear infinite;
}

@keyframes animationCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
